@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

:root {
  --bg-color: #333;
  --text-color: #fefefe;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  font-size: 15px;
  background-color: var(--bg-color);
  color: var(--text-color);
}
